<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleIdentifier</key>
    <string></string>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.maksymbalukhtin.dt.unit.VIPERApplication</string>
    <key>Ancestors</key>
    <array>
      <string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
      <string>com.apple.dt.unit.cocoaTouchApplicationBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template provides a starting point for an application that uses a VIPER.</string>
    <key>SortOrder</key>
    <integer>1</integer>
    <key>Options</key>
    <array>
      <dict>
        <key>Identifier</key>
        <string>rootClassName</string>
        <key>Required</key>
        <true/>
        <key>Name</key>
        <string>Initial module name:</string>
        <key>Type</key>
        <string>text</string>
        <key>Default</key>
        <string>Main</string>
      </dict>
      <dict>
        <key>Identifier</key>
        <string>languageChoice</string>
        <key>Units</key>
        <dict>
          <key>Swift</key>
          <dict>
            <key>Definitions</key>
            <dict>
              <key>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:body</key>
              <string>
                window = UIWindow(frame: UIScreen.main.bounds)
                window?.rootViewController = ___VARIABLE_rootClassName___Builder.create().view.viewController
                window?.makeKeyAndVisible()
              </string>
              <key>Managers/NetworkingManager.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>Managers</string>
                </array>
                <key>Path</key>
                <string>Managers/NetworkingManager.swift</string>
              </dict>
              <key>Managers/CacheManager.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>Managers</string>
                </array>
                <key>Path</key>
                <string>Managers/CacheManager.swift</string>
              </dict>
              <key>Extensions/Collections/UICollectionView+Extensions.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>Extensions</string>
                  <string>Collections</string>
                </array>
                <key>Path</key>
                <string>Extensions/Collections/UICollectionView+Extensions.swift</string>
              </dict>
              <key>Extensions/Collections/UITableView+Extensions.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>Extensions</string>
                  <string>Collections</string>
                </array>
                <key>Path</key>
                <string>Extensions/Collections/UITableView+Extensions.swift</string>
              </dict>
              <key>Extensions/Controls/UIControl+Closure.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>Extensions</string>
                  <string>Controls</string>
                </array>
                <key>Path</key>
                <string>Extensions/Controls/UIControl+Closure.swift</string>
              </dict>
              <key>Extensions/Image/UIImageView+Extensions.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>Extensions</string>
                  <string>Image</string>
                </array>
                <key>Path</key>
                <string>Extensions/Image/UIImageView+Extensions.swift</string>
              </dict>
              <key>Extensions/UIView/UIView+Anchors.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>Extensions</string>
                  <string>UIView</string>
                </array>
                <key>Path</key>
                <string>Extensions/UIView/UIView+Anchors.swift</string>
              </dict>
              <key>Extensions/UIView/UIView+Extensions.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>Extensions</string>
                  <string>UIView</string>
                </array>
                <key>Path</key>
                <string>Extensions/UIView/UIView+Extensions.swift</string>
              </dict>
              <key>Extensions/UIViewController/UIViewController+AlertPresentable.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>Extensions</string>
                  <string>UIViewController</string>
                </array>
                <key>Path</key>
                <string>Extensions/UIViewController/UIViewController+AlertPresentable.swift</string>
              </dict>
              <key>Extensions/UIViewController/UIViewController+KayboardPushable.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>Extensions</string>
                  <string>UIViewController</string>
                </array>
                <key>Path</key>
                <string>Extensions/UIViewController/UIViewController+KayboardPushable.swift</string>
              </dict>
              
              <key>Extensions/Notification/NotificationCenter+Payload.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>Extensions</string>
                  <string>Notification</string>
                </array>
                <key>Path</key>
                <string>Extensions/Notification/NotificationCenter+Payload.swift</string>
              </dict>
              
              <key>Helping/Base/BaseRouter.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>Helping</string>
                  <string>Base</string>
                </array>
                <key>Path</key>
                <string>Helping/Base/BaseRouter.swift</string>
              </dict>
              <key>Helping/Base/BaseVIPER.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>Helping</string>
                  <string>Base</string>
                </array>
                <key>Path</key>
                <string>Helping/Base/BaseVIPER.swift</string>
              </dict>
              <key>Helping/Buildable/BuildableCollectionViewCell.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>Helping</string>
                  <string>Buildable</string>
                </array>
                <key>Path</key>
                <string>Helping/Buildable/BuildableCollectionViewCell.swift</string>
              </dict>
              <key>Helping/Buildable/BuildableTableViewCell.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>Helping</string>
                  <string>Buildable</string>
                </array>
                <key>Path</key>
                <string>Helping/Buildable/BuildableTableViewCell.swift</string>
              </dict>
              <key>Helping/Buildable/BuildableView.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>Helping</string>
                  <string>Buildable</string>
                </array>
                <key>Path</key>
                <string>Helping/Buildable/BuildableView.swift</string>
              </dict>
              <key>Helping/Buildable/BuildableViewController.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>Helping</string>
                  <string>Buildable</string>
                </array>
                <key>Path</key>
                <string>Helping/Buildable/BuildableViewController.swift</string>
              </dict>
              <key>Helping/ErrorHandle/ErrorHandle.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>Helping</string>
                  <string>ErrorHandle</string>
                </array>
                <key>Path</key>
                <string>Helping/ErrorHandle/ErrorHandle.swift</string>
              </dict>
              <key>Helping/ValidationService/ValidationService.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>Helping</string>
                  <string>ValidationService</string>
                </array>
                <key>Path</key>
                <string>Helping/ValidationService/ValidationService.swift</string>
              </dict>
              <key>Helping/ValidationService/UserInputProcessable.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>Helping</string>
                  <string>ValidationService</string>
                </array>
                <key>Path</key>
                <string>Helping/ValidationService/UserInputProcessable.swift</string>
              </dict>
              <key>Helping/ValidationService/UserInputValidatable.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>Helping</string>
                  <string>ValidationService</string>
                </array>
                <key>Path</key>
                <string>Helping/ValidationService/UserInputValidatable.swift</string>
              </dict>
              <key>Helping/ValidationService/ValidationHandlable.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>Helping</string>
                  <string>ValidationService</string>
                </array>
                <key>Path</key>
                <string>Helping/ValidationService/ValidationHandlable.swift</string>
              </dict>
              
              <key>Helping/API+Models/API/API.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>Helping</string>
                  <string>API+Models</string>
                  <string>API</string>
                </array>
                <key>Path</key>
                <string>Helping/API+Models/API/API.swift</string>
              </dict>
              
              <key>UI/___VARIABLE_rootClassName___View.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>UI</string>
                </array>
                <key>Path</key>
                <string>UI/___VARIABLE_rootClassName___View.swift</string>
              </dict>
              
              <key>UI/___VARIABLE_rootClassName___ViewController.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>UI</string>
                </array>
                <key>Path</key>
                <string>UI/___VARIABLE_rootClassName___ViewController.swift</string>
              </dict>
              
              <key>UI/___VARIABLE_rootClassName___Presenter.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>UI</string>
                </array>
                <key>Path</key>
                <string>UI/___VARIABLE_rootClassName___Presenter.swift</string>
              </dict>
              
              <key>UI/___VARIABLE_rootClassName___Interactor.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>UI</string>
                </array>
                <key>Path</key>
                <string>UI/___VARIABLE_rootClassName___Interactor.swift</string>
              </dict>
              
              <key>UI/___VARIABLE_rootClassName___Router.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>UI</string>
                </array>
                <key>Path</key>
                <string>UI/___VARIABLE_rootClassName___Router.swift</string>
              </dict>
              
              <key>UI/___VARIABLE_rootClassName___Builder.swift</key>
              <dict>
                <key>Group</key>
                <array>
                  <string>UI</string>
                </array>
                <key>Path</key>
                <string>UI/___VARIABLE_rootClassName___Builder.swift</string>
              </dict>
              
            </dict>
            <key>Nodes</key>
            <array>
              <string>UI/___VARIABLE_rootClassName___View.swift</string>
              <string>UI/___VARIABLE_rootClassName___ViewController.swift</string>
              <string>UI/___VARIABLE_rootClassName___Presenter.swift</string>
              <string>UI/___VARIABLE_rootClassName___Interactor.swift</string>
              <string>UI/___VARIABLE_rootClassName___Router.swift</string>
              <string>UI/___VARIABLE_rootClassName___Builder.swift</string>
              <string>Managers/NetworkingManager.swift</string>
              <string>Managers/CacheManager.swift</string>
              <string>Extensions/Collections/UICollectionView+Extensions.swift</string>
              <string>Extensions/Collections/UITableView+Extensions.swift</string>
              <string>Extensions/Controls/UIControl+Closure.swift</string>
              <string>Extensions/Image/UIImageView+Extensions.swift</string>
              <string>Extensions/UIView/UIView+Anchors.swift</string>
              <string>Extensions/UIView/UIView+Extensions.swift</string>
              <string>Extensions/UIViewController/UIViewController+AlertPresentable.swift</string>
              <string>Extensions/UIViewController/UIViewController+KayboardPushable.swift</string>
              <string>Extensions/Notification/NotificationCenter+Payload.swift</string>
              <string>Helping/Base/BaseRouter.swift</string>
              <string>Helping/Base/BaseVIPER.swift</string>
              <string>Helping/Buildable/BuildableCollectionViewCell.swift</string>
              <string>Helping/Buildable/BuildableTableViewCell.swift</string>
              <string>Helping/Buildable/BuildableView.swift</string>
              <string>Helping/Buildable/BuildableViewController.swift</string>
              <string>Helping/ErrorHandle/ErrorHandle.swift</string>
              <string>Helping/ValidationService/ValidationService.swift</string>
              <string>Helping/ValidationService/UserInputProcessable.swift</string>
              <string>Helping/ValidationService/UserInputValidatable.swift</string>
              <string>Helping/ValidationService/ValidationHandlable.swift</string>
              <string>Helping/API+Models/API/API.swift</string>
            </array>
          </dict>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
